.grid-cart-container{
    display:grid;
    grid-template-areas:"left right"
                        ". footer";
}
.grid-cart-left{
    grid-area:left;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid-cart-right{
    grid-area:right;
    width:30rem;
    height:22rem;
    overflow:auto;
}
.grid-cart-footer{
    grid-area:footer;
}
.item-name{
   width:100px;
}
.trash-btn{
    border:none;
    background:transparent;
}
.trash-btn:hover{
    cursor: pointer;
}
.quantity-items:hover{
    cursor: pointer;
}
.bells{
    height:40px;
}
.cart-money{
    display:flex;
    justify-content: center;
    align-items: center;
}
.total-money-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(175, 160, 71);
    border-radius: 80px;
    width:200px;
}
.money-bag{
    border-top: dashed 3px white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-style{
    border:none;
    background-color: rgb(240, 222, 198);
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    border-radius: 80px;
}
.btn-style:hover{
    cursor: pointer;
}
.purchase-style{
    border:none;
    background-color: teal;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    border-radius: 80px;
    color:whitesmoke;
}
.purchase-style:hover{
    cursor: pointer;
}
input{
    width:1.5em;
    height:1.5em;
}
ul{
    padding: 0;
}
ul li{
    list-style-type: none;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    align-self:flex-start;
    margin:20px 0;
}
