.clothing-item-grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas:"header header header header header header header header"
                        "left left . main main . right right"
                        "left left . main main . right right"
                        "left left . main main . right right"
                        ". . . . . . footer footer";
}

.grid-header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 10px;
}
.grid-left {
    display: grid;
    grid-area: left;
    grid-template-columns: repeat(2,1fr);
}
.grid-right {
    display: grid;
    grid-area: right;
    grid-template-columns: repeat(2,1fr);
}
.grid-main{
    grid-area:main;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.grid-footer{
    display:grid;
    grid-area:footer;
    display:flex;
    flex-direction: row;
}
.grid-style{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bells{
    height:40px;
}
.total-money-container{
    display:flex;
    justify-content: center;
    background-color:rgb(175, 160, 71);
    border-radius: 80px;
    width:200px;
}
.money-bag{
    border-top: dashed 3px white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}